doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- Fav Icon
    link(rel='icon', href='assets/images/icon.svg')
    //- title
    title Beltagy
    //- Search Engine Meta
    meta(name="description" content="I'm Beltagy! I can be your front-end developer.")
    meta(name="keywords" content="beltagy, i'm beltagy, imbeltagy, frontend, website, developer")
    //- Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Quantico&family=Russo+One&display=swap" rel="stylesheet")
    //- Style Sheet
    link(rel="stylesheet" href="main.css")
  body
    button#change-theme.img-container
      img(src="assets/images/theme.png", alt="Change Theme")

    main
      header
        .picture.img-container
          img(src="assets/images/picture.png", alt="Beltagy Picture")
        .text 
          span Hello, I'm Beltagy
          h1 I'm Front-End Developer 
          p I can transform designs into stunning and responsive web experiences that engage and inspire users.
      
      section.body

        nav
          #left-arrow.arrow.disabled
          div.titles
            ul.slider
              li.active(data-subtitle="A Bit Of What I Can Do.") Projects
              li(data-subtitle="More than HTML, CSS & JS") Skills
              //- li(data-subtitle="How To Reach Me.") Contact
          #right-arrow.arrow
          p#sub-title A Bit Of What I Can Do.
        
        section#content-slider.content
          .slide.projects 
            .grid
              a(href="https://mohammed-beltagy.github.io/Multi-Step-Form/" target="_blank").img-container
                img(src="https://raw.githubusercontent.com/Mohammed-Beltagy/Multi-Step-Form/main/assets/screenshot.jpg" alt="project Preview")
                .text
                  h4.title multi step form
                  p.description Lorem ipsum dolor sit amet.
              a(href="https://mohammed-beltagy.github.io/Tetris_Game/" target="_blank").img-container
                img(src="https://raw.githubusercontent.com/Mohammed-Beltagy/Tetris_Game/main/screenshot.png" alt="project Preview")
                .text
                  h4.title tetris
                  p.description Lorem ipsum dolor sit amet.
              a(href="#" target="_blank").img-container
                img(src="	https://picsum.photos/1200/800" alt="project Preview")
                .text
                  h4.title title
                  p.description Lorem ipsum dolor sit amet.

          .slide.details
            article
              h3 Pug & Sass
              p Using Pug and Sass makes it easy to write clean, maintainable, and efficient code. These technologies offer features like mixins, variables, and includes that help to streamline development and ensure a consistent visual style throughout a project.
            article
              h3 Gulp.js
              p Gulp.js is a powerful tool that can help shorten development time by automatically adding prefixes and compressing files. This means more quality and less time spent on repetitive tasks.
            article
              h3 Git & Github
              p With Git and Github, I can easily track changes to code and collaborate with other developers. These technologies also allow me to revert to previous versions of code if needed, ensuring that your project stays on track and error-free.
          //- .slide.contact
          //-   section
          //-     input#email(type="email", name="email", to="mailto")


    //- Script
    script(src="app.js") 