doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- title
    title I'm Beltagy
    //- Search Engine Meta
    meta(name="description" content="I'm Beltagy! I can be your front-end developer.")
    meta(name="keywords" content="beltagy, i'm beltagy, imbeltagy, frontend, website, developer")
    //- Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Quantico&family=Russo+One&display=swap" rel="stylesheet")
    //- Style Sheet
    link(rel="stylesheet" href="main.css")
  body
    button#change-theme.img-container
      img(src="assets/images/theme.png", alt="Change Theme")

    main
      header
        .picture.img-container
          img(src="assets/images/picture.png", alt="Beltagy Picture")
        .text 
          span Hello, I'm Beltagy
          h1 I'm Front-End Developer 
          p I can transform designs into stunning and responsive web experiences that engage and inspire users.
      
      section.body

        nav
          #left-arrow.arrow.disabled
          div.titles
            ul.slider
              li.active(data-subtitle="A Bit Of What I Can Do.") Projects
              li(data-subtitle="About Front-End.") Details
              li(data-subtitle="How To Reach Me.") Contact
          #right-arrow.arrow
          p#sub-title A Bit Of What I Can Do.
        
        section#content-slider.content
          .slide.projects 
            a(href="https://mohammed-beltagy.github.io/Multi-Step-Form/" target="_blank").img-container
              img(src="https://raw.githubusercontent.com/Mohammed-Beltagy/Multi-Step-Form/main/assets/screenshot.jpg" alt="project Preview")
              .text
                h4.title multi step form
                p.description Lorem ipsum dolor sit amet.
            a(href="https://mohammed-beltagy.github.io/Tetris_Game/" target="_blank").img-container
              img(src="https://raw.githubusercontent.com/Mohammed-Beltagy/Tetris_Game/main/screenshot.png" alt="project Preview")
              .text
                h4.title tetris
                p.description Lorem ipsum dolor sit amet.
            a(href="#" target="_blank").img-container
              img(src="	https://picsum.photos/1200/800" alt="project Preview")
              .text
                h4.title title
                p.description Lorem ipsum dolor sit amet.
            a(href="#" target="_blank").img-container
              img(src="	https://picsum.photos/1200/800" alt="project Preview")
              .text
                h4.title title
                p.description Lorem ipsum dolor sit amet.
            a(href="#" target="_blank").img-container
              img(src="	https://picsum.photos/1200/800" alt="project Preview")
              .text
                h4.title title
                p.description Lorem ipsum dolor sit amet.
            a(href="#" target="_blank").img-container
              img(src="	https://picsum.photos/1200/800" alt="project Preview")
              .text
                h4.title title
                p.description Lorem ipsum dolor sit amet.

          .slide.details
            | details

          .slide.about
            | about


    //- Script
    script(src="app.js") 