body
  // Background Colors
  --bg-color: #3D4490
  --overlay-color: #0002
  --high-overlay-color: #0005
  --picture-overlay-color: var(--high-overlay-color)
  --project-overlay-color: #3d449080
  // Text Colors
  --accent-color: #FF5677
  --ordinary-color: #d9e6ff
  --secondary-color: #a4a7ff
  &.light
    // Background Colors
    --bg-color: #bde0fe
    --overlay-color: #fff3
    --high-overlay-color: #fff5
    --picture-overlay-color: #5e96f533
    --project-overlay-color: var(--high-overlay-color)
    // Text Colors
    --accent-color: #5e96f5
    --ordinary-color: #3b4a65
    --secondary-color: var(--ordinary-color)
  
// Background Colors
$bg-color: var(--bg-color)
$overlay-color: var(--overlay-color)
$high-overlay-color: var(--high-overlay-color)
$picture-overlay-color: var(--picture-overlay-color)
$project-overlay-color: var(--project-overlay-color)
// Text Colors
$accent-color: var(--accent-color)
$ordinary-color: var(--ordinary-color)
$secondary-color: var(--secondary-color)

// Fonts
$special-font: 'Russo One', sans-serif
$secondary-font: 'Cairo', sans-serif
$ordinary-font: 'Quantico', sans-serif

// Breakpoints
@mixin lg-screens
  @media (min-width: 60rem)
    @content
@mixin md-screens
  @media (min-width: 40rem)
    @content
@mixin sm-screens
  @media (min-width: 20rem)
    @content
