$bg-color: #3D4490
$accent-color: #FF5677
$ordinary-color: #5994FF
$secondary-color: #83C3FF
// Fonts
$special-font: 'Russo One', sans-serif
$ordinary-font: 'Quantico', sans-serif

// Breakpoints
@mixin md-screens
  @media (min-width: 40rem)
    @content
@mixin sm-screens
  @media (max-width: 39.9rem)
    @content
